@import url(https://fonts.googleapis.com/css?family=Open+Sans|Droid+Serif|Poiret+One|Special+Elite|Corbel|La+Belle+Aurore);
/* line 5, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_base.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../scss/_base.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* Parallax Stuff */
/* line 15, ../scss/_base.scss */
.home {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 23, ../scss/_base.scss */
.slide:before {
  background: 50% 50% / cover;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 33, ../scss/_base.scss */
.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  transform-style: inherit;
  background: 50% 50% / cover;
}

/* line 42, ../scss/_base.scss */
.slide p,
.slide figure {
  position: relative;
  z-index: -1;
}

/* line 48, ../scss/_base.scss */
.slide p {
  transform: translateZ(0.2px) scale(0.8);
  width: 25%;
  float: left;
}

/* line 54, ../scss/_base.scss */
.slide figure {
  float: left;
  transform: translateZ(-0.2px) scale(1.5);
  width: 50%;
  z-index: -1;
}

/* line 61, ../scss/_base.scss */
#title {
  background-color: black;
}
/* line 63, ../scss/_base.scss */
#title h1 {
  color: white;
  font-family: "La Belle Aurore", "Poiret One", sans-serif;
  font-size: 7em;
  margin: 0 auto;
  padding: 0 0 5em;
  text-align: center;
  width: 90%;
}

/* line 74, ../scss/_base.scss */
#slide1:before {
  background-color: black;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

/* line 80, ../scss/_base.scss */
#slide1 h2 {
  color: white;
  font-family: "La Belle Aurore", "Poiret One", sans-serif;
  font-size: 2em;
  text-align: center;
  transform: translateZ(-1px) scale(1.8);
}

/* line 88, ../scss/_base.scss */
#slide2 {
  background-color: black;
  background-image: url("../img/glow.png");
  background-attachment: fixed;
}
/* line 93, ../scss/_base.scss */
#slide2 #day, #slide2 #night {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(-0.4px) scale(1.3);
  width: 40%;
}
/* line 103, ../scss/_base.scss */
#slide2 #day {
  background-color: white;
  color: black;
}
/* line 107, ../scss/_base.scss */
#slide2 #night {
  background-color: black;
  border-top: 0.2em double white;
  color: white;
}

/* line 114, ../scss/_base.scss */
#slide3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../img/sky-sea-earth.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 116, ../scss/_base.scss */
#slide3 header {
  margin: 0 auto;
}
/* line 119, ../scss/_base.scss */
#slide3 h2 {
  border: 0.2em double white;
  border-radius: 50%;
  color: white;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5em;
  height: 4.5em;
  left: 0;
  line-height: 1.5em;
  margin: 1em auto;
  padding: 1em 0;
  right: 0;
  text-align: center;
  width: 4.5em;
}
/* line 134, ../scss/_base.scss */
#slide3 #earth {
  bottom: -20em;
  position: absolute;
  transform: translateZ(-2.8px) scale(4);
  z-index: 0;
}
/* line 140, ../scss/_base.scss */
#slide3 #sea {
  bottom: 1em;
  position: absolute;
  transform: translateZ(-1px) scale(1.8);
}
/* line 145, ../scss/_base.scss */
#slide3 #sky {
  bottom: 3em;
  transform: translateZ(-0.4px) scale(1.3);
}
/* line 149, ../scss/_base.scss */
#slide3 #dome {
  transform: translateZ(-0.1px) scale(1.5);
  width: 100%;
  z-index: 0;
}

/* line 156, ../scss/_base.scss */
#slide4 {
  background-color: white;
}

/* line 159, ../scss/_base.scss */
#slide4 h2 {
  color: black;
  font-family: "La Belle Aurore", "Poiret One", sans-serif;
  font-size: 2em;
  text-align: center;
  transform: translateZ(-0.5px) scale(1.3);
}

/* line 167, ../scss/_base.scss */
#slide5:before {
  background-color: white;
}

/* line 170, ../scss/_base.scss */
#flower {
  opacity: 0.6;
  transform: translateZ(0.2px) scale(2);
}
