*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

h3 {
  font-family: $font-title;
  font-size: 2em;
}

/* Parallax Stuff */
.home {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.slide:before {
  background: 50% 50% / cover;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  transform-style: inherit;
  background: 50% 50% / cover;
}

.slide p,
.slide figure {
  position: relative;
  z-index: -1;
}

.slide p {
  transform: translateZ(0.2px) scale(0.8);
  width: 25%;
  float: left;
}

.slide figure {
  float: left;
  transform: translateZ(-0.2px) scale(1.5);
  width: 50%;
  z-index: -1;
}

#title {
  background-color: $color-dark;
  h1 {
    color: $color-light;
    font-family: $font-title;
    font-size: 7em;
    margin: 0 auto;
    padding: 0 0 5em;
    text-align: center;
    width: 90%;
  }
}

#slide1:before {
  background-color: $color-dark; 
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

#slide1 h3 {
  color: $color-light;
  transform: translateZ(-1px) scale(1.8);
  text-align: center;
}

#slide2 {
  background-color: $color-dark;
  background-image: url('../img/glow.png');
  background-attachment: fixed;

  #day, #night {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(-0.4px) scale(1.3);
    width: 40%;
  }
  #day {
    background-color: $color-light;
    color: $color-dark;
  }
  #night {
    background-color: $color-dark;
    border-top: 0.2em double white;
    color: $color-light;
  }
}

#slide3 {
  @include gradBlack('../img/sky-sea-earth.jpg');
  header {
    margin: 0 auto;
  }
  h4 {
    border: 0.2em double $color-light;
    border-radius: 50%;
    color: $color-light;
    font-family: 'Poiret One', sans-serif;
    font-size: 1.7em;
    height: 4.5em;
    left: 0;
    line-height: 1.2em;
    margin: 1em auto;
    padding: 1.2em 0;
    right: 0;
    text-align: center;
    width: 4.5em;
  }
  #earth {
    bottom: -5em;
    position: absolute;
    transform: translateZ(-1.6px) scale(2.3);
  }
  #sea {
    bottom: 1.5em;
    position: absolute;
    transform: translateZ(-1px) scale(1.8);    
  }
  #sky {
    bottom: 3em;
    transform: translateZ(-0.4px) scale(1.3);   
  }
  #dome {
    transform: translateZ(-0.1px) scale(1.5);
    width: 100%;
    z-index: 0;
  }
}

#slide4 {
  img {
    float: right;
  }
}
#slide4 h3 {
  color: $color-dark;
  font-family: $font-title;
  font-size: 2em;
  transform: translateZ(-0.5px) scale(1.3);
}

#slide5 {
  background-color: black;
  background-image: url('../img/full-background.png');
  background-attachment: fixed;

  h3 {
    bottom: 40em;
    color: $color-light;
    position: absolute;
    transform: translateZ(-0.8px) scale(1.5);
    text-align: center;
  }

  .fg {
    left: -17em;
    margin: 0 auto;
    position: relative;
    transform: translateZ(-1px) scale(1.6);
    z-index: 10;
  }

  #moon {
    bottom: 40em;
    opacity: 0.9;
    position: absolute;
    right: 8em;
    transform: translateZ(0.1px) scale(0.6);
    z-index: 5;
  }

  #sun {
    bottom: 10em;
    left: -20em;
    opacity: 0.9;
    position: absolute;
    transform: translateZ(-0.9px) scale(1.1);
    z-index: 5;
  }
}

#slide6:before {
  background-color: $color-dark;
  transform: translateZ(0.1px) scaleY(1.15);
}

#slide6 h3 {
  bottom: 3em;
  color: $color-light;
  position: absolute;
  transform: translateZ(-0.2px) scale(1.2);
  text-align: center;
  z-index: 20;
}

