@import url(https://fonts.googleapis.com/css?family=Open+Sans|Droid+Serif|Poiret+One|Special+Elite|Corbel|La+Belle+Aurore);

$font-sans: 'Open Sans', 'Corbel', sans-serif;
$font-serif: 'Droid Serif', serif;
$font-code: 'Special Elite', monospace;
$font-title: 'La Belle Aurore', 'Poiret One', sans-serif;


$color-dark: rgba(0, 0, 0, 1);
$color-light: rgba(255, 255, 255, 1);